<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Markup Preview</title>
    <%= css :application %>
    <%= js :application %>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="q/nHTwVUAkAkMDQZkFbE89HNqFJTVek2zlGhibbUL34=" name="csrf-token" />
    <meta content='Preview for md, rdoc, wiki, textile, org and creole files. Best for GitHub README files.' name='description'>
  </head>
  <body>
    <div class='ribbon right blue'>
      <a href="https://github.com/petethepig/github-markup-preview">Fork me on GitHub</a>
    </div>
    <header class='container-fluid'>
      <div class='row-fluid'>
        <div class='span12'>
          <h1>GitHub Markup Preview</h1>
          <div class='select-holder'>
            <select id="type" name="type">
              <option value="gfm">Github Flavored Markdown</option>
              <option value="wp">Wordpress Flavored Markdown</option>
              <option value="markdown">Simple Markdown</option>
              <option value="rdoc">RDoc</option>
              <option value="textile">Textile</option>
              <option value="mediawiki">MediaWiki</option>
              <option value="org">Org</option>
              <option value="creole">Creole</option>
            </select>
          </div>
          <div class='btn-group'>
            <button class='btn active' id='50-50'>50 - 50</button>
            <button class='btn' id='exact'>Exact size</button>
          </div>
          <div id="share">
            <a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
            <div class="g-plusone" data-size="medium"></div>
          </div>
        </div>
      </div>
    </header>
    <div id='main-container'>
      <div class='part' id='left'>
        <div class='content'>
          <textarea></textarea>
        </div>
      </div>
      <div class='part' id='right'>
        <div class='content markdown-body' id='preview'>
        </div>
      </div>
    </div>
    <footer>
      <a href="http://blog.dfilimonov.com/">Dmitry Filimonov © 2012 – 2013</a>
    </footer>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21003876-3']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter16063126 = new Ya.Metrika({id:16063126, enableAll: true, webvisor:true});
              } catch(e) {}
          });
          
          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
      
          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
      <div><img src="//mc.yandex.ru/watch/16063126" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>