/*GitHub specific styles*/
#preview
{
  font-size: 14px;
  line-height: 1.6;
}
#preview>*:first-child
{
  margin-top: 0!important;
}
#preview>*:last-child
{
  margin-bottom: 0!important;
}
#preview a.absent
{
  color: #c00;
}
#preview a.anchor
{
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 0;
  margin-left: -30px;
  padding-left: 30px;
  position: absolute;
  top: 0;
}
#preview h1,#preview h2,#preview h3,#preview h4,#preview h5,#preview h6
{
  cursor: text;
  font-weight: bold;
  margin: 20px 0 10px;
  padding: 0;
  position: relative;
  webkit-font-smoothing: antialiased;
}
#preview h1 .mini-icon-link,#preview h2 .mini-icon-link,#preview h3 .mini-icon-link,#preview h4 .mini-icon-link,#preview h5 .mini-icon-link,#preview h6 .mini-icon-link
{
  color: #000;
  display: none;
}
#preview h1:hover a.anchor,#preview h2:hover a.anchor,#preview h3:hover a.anchor,#preview h4:hover a.anchor,#preview h5:hover a.anchor,#preview h6:hover a.anchor
{
  line-height: 1;
  margin-left: -22px;
  padding-left: 0;
  text-decoration: none;
  top: 15%;
}
#preview h1:hover a.anchor .mini-icon-link,#preview h2:hover a.anchor .mini-icon-link,#preview h3:hover a.anchor .mini-icon-link,#preview h4:hover a.anchor .mini-icon-link,#preview h5:hover a.anchor .mini-icon-link,#preview h6:hover a.anchor .mini-icon-link
{
  display: inline-block;
}
#preview h1 tt,#preview h1 code,#preview h2 tt,#preview h2 code,#preview h3 tt,#preview h3 code,#preview h4 tt,#preview h4 code,#preview h5 tt,#preview h5 code,#preview h6 tt,#preview h6 code
{
  font-size: inherit;
}
#preview h1
{
  color: #000;
  font-size: 28px;
}
#preview h2
{
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 24px;
}
#preview h3
{
  font-size: 18px;
}
#preview h4
{
  font-size: 16px;
}
#preview h5
{
  font-size: 14px;
}
#preview h6
{
  color: #777;
  font-size: 14px;
}
#preview p,#preview blockquote,#preview ul,#preview ol,#preview dl,#preview table,#preview pre
{
  margin: 15px 0;
}
#preview hr
{
  background: transparent url("https://a248.e.akamai.net/assets.github.com/images/modules/pulls/dirty-shade.png?643ff063") repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}
#preview>h2:first-child,#preview>h1:first-child,#preview>h1:first-child+h2,#preview>h3:first-child,#preview>h4:first-child,#preview>h5:first-child,#preview>h6:first-child
{
  margin-top: 0;
  padding-top: 0;
}
#preview a:first-child h1,#preview a:first-child h2,#preview a:first-child h3,#preview a:first-child h4,#preview a:first-child h5,#preview a:first-child h6
{
  margin-top: 0;
  padding-top: 0;
}
#preview h1+p,#preview h2+p,#preview h3+p,#preview h4+p,#preview h5+p,#preview h6+p
{
  margin-top: 0;
}
#preview li p.first
{
  display: inline-block;
}
#preview ul,#preview ol
{
  padding-left: 30px;
}
#preview ul li>:first-child,#preview ol li>:first-child
{
  margin-top: 0;
}
#preview dl
{
  padding: 0;
}
#preview dl dt
{
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0 5px;
  padding: 0;
}
#preview dl dt:first-child
{
  padding: 0;
}
#preview dl dt>:first-child
{
  margin-top: 0;
}
#preview dl dt>:last-child
{
  margin-bottom: 0;
}
#preview dl dd
{
  margin: 0 0 15px;
  padding: 0 15px;
}
#preview dl dd>:first-child
{
  margin-top: 0;
}
#preview dl dd>:last-child
{
  margin-bottom: 0;
}
#preview blockquote
{
  border-left: 4px solid #DDD;
  color: #777;
  padding: 0 15px;
}
#preview blockquote>:first-child
{
  margin-top: 0;
}
#preview blockquote>:last-child
{
  margin-bottom: 0;
}
#preview table
{
  padding: 0;
}
#preview table tr
{
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
#preview table tr:nth-child(2n)
{
  background-color: #f8f8f8;
}
#preview table tr th
{
  font-weight: bold;
}
#preview table tr th,#preview table tr td
{
  border: 1px solid #ccc;
  margin: 0;
  padding: 6px 13px;
  text-align: left;
}
#preview table tr th>:first-child,#preview table tr td>:first-child
{
  margin-top: 0;
}
#preview table tr th>:last-child,#preview table tr td>:last-child
{
  margin-bottom: 0;
}
#preview img
{
  max-width: 100%;
}
#preview span.frame
{
  display: block;
  overflow: hidden;
}
#preview span.frame>span
{
  border: 1px solid #ddd;
  display: block;
  float: left;
  margin: 13px 0 0;
  overflow: hidden;
  padding: 7px;
  width: auto;
}
#preview span.frame span img
{
  display: block;
  float: left;
}
#preview span.frame span span
{
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}
#preview span.align-center
{
  clear: both;
  display: block;
  overflow: hidden;
}
#preview span.align-center>span
{
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
#preview span.align-center span img
{
  margin: 0 auto;
  text-align: center;
}
#preview span.align-right
{
  clear: both;
  display: block;
  overflow: hidden;
}
#preview span.align-right>span
{
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
#preview span.align-right span img
{
  margin: 0;
  text-align: right;
}
#preview span.float-left
{
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
#preview span.float-left span
{
  margin: 13px 0 0;
}
#preview span.float-right
{
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
#preview span.float-right>span
{
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
#preview code,#preview tt
{
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;  
  color:#333;
  font-size:13px;
  font-family:Consolas,Menlo,"Liberation Mono",Courier,monospace;
}
#preview pre>code
{
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  white-space: pre;
}
#preview .highlight pre,#preview pre
{
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  font-family:Consolas,Menlo,"Liberation Mono",Courier,monospace;
}
#preview pre code,#preview pre tt
{
  background-color: transparent;
  border: none;
}
